@tailwind base ;
@tailwind components ;
@tailwind utilities ;

/* global base styles */
@layer base {
   html, body {
      @apply  h-full w-full;
   }

  body {
    @apply  bg-gray-100 text-gray-800 antialiased;
  }

  h1 {
    @apply  text-3xl md:text-4xl font-extrabold  text-gray-800;
  }

  h2 {
    @apply  text-2xl md:text-3xl font-bold  text-gray-800;
  }
  
  p {
    @apply text-gray-800;
  }
};